@import 'bourbon';

#global-navbar {
  padding: 16px 20px;
  font-family: 'HoonSaemaR';
  border-bottom: 1px solid #ccc;
  background-color: white;

  .navbar-nav {
    margin: 0;
    width: 100%;

    li {
      width: 33.3333%;
      display: inline-block;
      text-align: center;

      strong {
        text-decoration: underline;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active a {
        color: #e84c3d;
        text-decoration: underline;
      }
    }

    &.navbar-left {
      float: left;
    }

    &.navbar-right {
      float: right;
    }
  }
}

#app {
  padding-top: 54px;
}
