<title>Unlabored</title>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
