<!DOCTYPE html>
<html class="<%= browser %>">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div id="main"><%- __html %></div>
  <script src="/public/dist/app.js"></script>
</body>
</html>
